div#container{
    width: 100%;
    height: 100%;
}

header#header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

div#forum_head{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    margin-bottom: 20px;
    background-color: lightblue;
    border-radius: 25px;
}

.items_header{
    background-color: #03fc66;
    font-size: larger;
    padding: 20px 0px 20px 0px;
    color: white;
    display: flex;
    width: 100%;
    border-radius: 25px;
}

.items_title{
    padding-left: 20px;
    font-size: larger;
}
.items_options{
    margin-left: auto;
    font-size: large;
    margin-right: 20px;
}

.option_links:link{
    text-decoration: none;
}

.option_links:link, .option_links:visited{
    color:gray;
}

.option_links:hover{
    color: darkgreen;
}

.items_desc{
    padding-left: 20px;
}

.items_post{
    width: 20%;
}

.item_list{
    list-style-type: none;
    margin-left: 20px;
    padding-left: 0px;
}

.item{
    padding: 10px 0px 10px 30px;
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 5px;
    display: flex;
    border-radius: 10px;
}

.item_desc{
    font-size: smaller;
}

.item_title{
    font-size: large;
}

.item_header{
    width: 60%;
}

.item_info{
    align-self: center;
}

.item_links{
    text-decoration: none;
}

.item_links:link, .item_links:visited{
    color: lightslategray;
}

.item_links:hover{
    color: darkgreen;
}

.post_title{
    font-size: x-large;
}

.post_header{
    padding: 20px 0px 20px 20px;
    border: solid;
    border-color: gray;
    display: flex;
    border-radius: 25px;
}

.comment{
    padding: 10px 0px 10px 20px;
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
}

.option_icons{
    width: 25px;
    height: 25px;
    opacity: 0.7;
}

.comment_header{
    display: flex;
}

.comment_author{
    padding-right: 5px;
}

.post_info{
    display: flex;
}

.post_author{
    margin-right: 5px;
}

.form_title{
    font-size: xx-large;
}

.form_wrapper{
    width: 100%;
    font-size: x-large;
}

.form_field{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.form_input_text{
    width: 100%;
    margin-top: 10px;
    height: 20px;
}

.form_input_body{
    resize:none;
    height: 120px;
}

